
#header-nav{
	position: absolute;
	top: 0;
	
	background-color: rgba(0,0,0,0.2);
	
}
.navbar-brand{
	font-size: 1.5em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	margin-left: 15px;
}

#center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	border: 2px solid black;
}

#present{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.content-box{
	margin: 20px;
	width: auto;
	height: 1000px;
	color: black;

	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}




.text-center{
	margin-top: 30px;
}

.mx-auto{
	display: block;
	width: 100%;
}
.dropdown-item{
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 0;
	margin-right: 0;
	color: black;
	background-color: #6699CC;
}
